<!DOCTYPE html>
<html>
  <head>
    <title>Track Stuff</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  {{ css() }}
  {{ background() }}
  <body>
    <div class="row">
      <div class="columns small-12">
        {% for class, messages in app.session.flashbag.all %}
          {% for message in messages %}
            <div class="alert-box {{ class }}">
              {{ message | raw}}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>

    {% block js %}
      {{ js() }}
    {% endblock %}
  </body>
</html>
