{% extends 'track-stuff:base.html.twig' %}

{% block content %}
  <div class="row panel">
    <div class="columns small-12">
      {% for goal in goals %}
        <a href="{{ route('track-stuff:goals:view', {slug: goal.slug}) }}">
          <h2>
            {{ goal.title }}
          </h2>
        </a>
        <div class="progress round">
          <span class="meter" style="width: {{goal.percentage}}%">
          </span>
        </div>
        {{ goal.total }} {{ goal.slug }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
