{% extends 'track-stuff:base.html.twig' %}

{% block content %}
  <div class="row panel">
    <div class="columns small-12">
      {% for goal in goals %}
        <a href="{{ route('track-stuff:goal:view', {id: goal.get('id')}) }}">
          <h2>
            {# switch to property syntax after upgrading active-doctrine #}
            {{ goal.get('title') }}
          </h2>
        </a>
        <div class="progress round">
          <span class="meter" style="width: {{goal.get('percentage')}}%">
          </span>
        </div>
        {{ goal.get('total') }} {{ goal.get('slug') }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
