{% extends 'track-stuff:base.html.twig' %}

{% block content %}
  <div class="row panel">
    <div class="columns small-12">
      {% for goal in goals %}
        <a href="{{ route('track-stuff:goals:view', {slug: goal.slug}) }}">
          <h2>
            {{ goal.title }}
          </h2>
        </a>
        {% if goal.isStarted() %}
          <div class="progress round">
            <span class="meter" style="width: {{goal.percentage}}%">
            </span>
          </div>

          {% if goal.isTargetReached() %}
            <span class="tiny button success">{{ goal.total }} / {{goal.target}}</span>
          {% else %}
            <span class="tiny button warning">{{ goal.total }} /  {{goal.target}}</span>
            <span class="tiny button warning right">{{goal.remaining}} to go</span>
          {% endif %}
        {% else %}
          <div class="panel callout">
            <p>
              Not started yet
            </p>
          </div>
        {% endif %}

      {% endfor %}
    </div>
  </div>
{% endblock %}
